DayZServer_x64.exe
*.log
*.mdmp
*.ADM
*.RPT
*.Bin
*.ch
*.Pbo
*.dll
*.bikey
*.bisign
*.cpp
*.png
*.txt
*.md
*.rar
*.jpg
*.url
*.ch
*.vdf
*.db
/battleye
/DataCache
/addons
/appcache
/bliss
/docs
/dta
/logs
/battleye
/EventManagerLog
/sakhal
config/config.vdf
config/config.vdf
mpmissions/regular.namalsk/storage_1/

Profile/PermissionsFramework/Players/ATxI-JFgZxkWYr7Quf7frIHZioARfFT0VaBU8wOvx1E.json
Profile/ExpansionMod/ATM/ATxI-JFgZxkWYr7Quf7frIHZioARfFT0VaBU8wOvx1E=.json
Profile/MMIO/Clothes.json
Profile/MMIO/Misc.json
config/config.vdf
config/