DayZServer_x64.exe
*.log
*.mdmp
*.ADM
*.RPT
*.Bin
*.ch
*.Pbo
*.dll
*.bikey
*.bisign
*.cpp
*.png
*.txt
*.md
*.rar
*.jpg
*.url
*.ch
*.vdf
*.db
/battleye
/DataCache
/addons
/appcache
/bliss
/docs
/dta
/logs
/battleye
/EventManagerLog
/sakhal
config/config.vdf
config/config.vdf
mpmissions/regular.namalsk/storage_1/
/steamcmd
Profile/PermissionsFramework/Players/ATxI-JFgZxkWYr7Quf7frIHZioARfFT0VaBU8wOvx1E.json
Profile/ExpansionMod/ATM/ATxI-JFgZxkWYr7Quf7frIHZioARfFT0VaBU8wOvx1E=.json
Profile/MMIO/Clothes.json
Profile/MMIO/Misc.json
config/config.vdf
config/
steamcmd/steamcmd.exe
Profile/BattlEye/BEServer_x64_active_71f0.cfg
Profile/BattlEye/beserver_x64.so
_CommonRedist/DotNet/4.5.2/Microsoft .NET Framework 4.5.2.cmd
_CommonRedist/DotNet/4.5.2/noop.cmd
.gitignore
_CommonRedist/vcredist/2013/vcredist_x64.exe
_CommonRedist/DotNet/4.5.2/NDP452-KB2901907-x86-x64-AllOS-ENU.exe
_CommonRedist/vcredist/2013/vcredist_x86.exe
_CommonRedist/vcredist/2019/Microsoft Visual C++ 2019 x64.cmd
_CommonRedist/vcredist/2019/Microsoft Visual C++ 2019 x86.cmd
_CommonRedist/vcredist/2019/VC_redist.x64.exe
_CommonRedist/vcredist/2019/VC_redist.x86.exe
