DayZServer_x64.exe
*.log
*.mdmp
*.ADM
*.RPT
*.Bin
*.ch
*.Pbo
*.dll
*.bikey
*.bisign
*.cpp
*.png
*.txt
*.md
*.rar
*.jpg
*.url
*.ch
/battleye
/DataCache
/addons
/appcache
/bliss
/docs
/dta
/logs
/battleye
/EventManagerLog
/sakhal
